# Capítulo 4 - Variáveis

## Trabalhando com variáveis

In [51]:
# Atribuindo o valor 1 ã variável var_test
var_test = 1

In [52]:
# Imprimendo o valor da variável
var_test

1

In [53]:
# Imprimindo o valor da variável
print(var_test)

1

In [54]:
# Não podemos utilizar uma variável que não foi definida, Leia a mensagem de erro
# my_var

In [55]:
var_test = 2

In [56]:
var_test

2

In [57]:
type(var_test)

int

In [58]:
var_test = 9.5

In [59]:
type(var_test)

float

In [60]:
x = 1

In [61]:
x

1

## Declaração Múltipla

In [62]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [63]:
pessoa1

'Bob'

In [64]:
pessoa2

'Maria'

In [65]:
pessoa3

'Ana'

In [66]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [67]:
fruta1

'Melancia'

In [68]:
fruta2

'Melancia'

In [69]:
# Fique atento!!! Python é case-sensitive/ Criamos a variável fruta2, mas não a variável Fruta2
# Letras maiúsculas e minúsculas tem difença no nome da variável
# Fruta2

     Pode-se usar letras, números e underlines em nome de variável (mas não se pode começar com números).

In [70]:
x1 = 50

In [71]:
x1

50

In [73]:
# 1x = 50

    Não se pode usar palavras reservadas como nome de variável.

>False  
>class  
>finally    
>is     
>return     
>None   
>continue   
>for    
>lambda  
>try    
>True   
>def    
>from   
>nonlocal   
>while  
>and    
>del    
>global  
>not    
>with   
>as     
>elif   
>if     
>or     
>yield      
>assert     
>else       
>import     
>pass   
>break  
>except     
>in     
>raise

In [ ]:
# Não podemos usar palavra reservadas como nome de variável
# break = 1

## Variáveis Atribuídas a Outra Variáveis e Ordem dos operadores

In [85]:
largura = 2

In [86]:
altura = 4

In [87]:
area = largura * altura

In [88]:
area

8

In [89]:
perimetro = 2 * (largura + altura)

In [90]:
perimetro

12

In [93]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2) * altura

In [94]:
perimetro

32

## Operações com Variáveis

In [95]:
idade1 = 25

In [96]:
idade2 = 35

In [97]:
idade1 + idade2

60

In [98]:
idade2 - idade1

10

In [99]:
idade1 * idade2

875

In [100]:
idade2 / idade1

1.4

In [101]:
idade2 % idade1

10

## Concatenação de Variáveis

In [102]:
nome = "Bob"

In [103]:
sobrenome = "Marley"

In [104]:
fullName = nome + " " + sobrenome

In [105]:
fullName

'Bob Marley'

# FIM